<div class="{{classes.globalFilterWrapper}}">
  <div class="form-group label-floating">
    {{input type="text" placeholder=messages.searchLabel value=filterString class=classes.input}}
    {{#if globalFilterUsed}}
      <span onclick={{action (mut filterString) ""}} class="clearFilterIcon {{classes.clearFilterIcon}}"></span>
    {{/if}}
  </div>
</div>
