.models-table-wrapper {
  .table-header {
    color: mix(black, white, 54%);
  }

  tbody {
    color: mix(black, white, 87%);
  }

  table .material-icons {
    vertical-align: middle;
    font-size: 16px;
  }

  .form-group {
    margin: auto;
  }

  .option-button {
    padding: 7px;
  }

  .table-footer {
    align-items: center;
    display: flex;
  }
}
