.models-table-wrapper .table-header {
  color: mix(black, white, 54%);
}

.models-table-wrapper tbody {
  color: mix(black, white, 87%);
}

.models-table-wrapper .material-icons {
  vertical-align: middle;
  font-size: 16px;
}

.models-table-wrapper .form-group {
  margin: auto;
}
