// Variables
// ---------------------
$table-header-font-weight:        400;
$table-header-font-color:         mix(black, white, 54%);
$table-header-footer-font-size:   12px;

$table-cell-padding:              1.6rem;
$table-condensed-cell-padding:    $table-cell-padding/2;

$table-bg:                        #fff;
$table-bg-accent:                 #f5f5f5;
$table-bg-hover:                  #eeeeee;
$table-bg-active:                 $table-bg-accent;
$table-border-color:              #e0e0e0;
$table-font-size:                 13px;
$table-font-color:                mix(black, white, 87%);

// Mixins
// -----------------
@mixin transition($transition) {
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: $table-bg;
  color: $table-font-color;
  > thead, > tbody, > tfoot {
    > tr {
      @include transition(all .3s ease);
      > th, > td {
        text-align: left;
        padding: $table-cell-padding;
        vertical-align: top;
        border-left: 0;
        border-right: 0;
        @include transition(all .3s ease);
      }
    }
  }
  > thead > tr > th {
    font-weight: $table-header-font-weight;
    padding: 1rem;
    vertical-align: bottom;
  }
}

.table-hover {
  > tbody > tr:hover {
      background-color: $table-bg-hover;
  }
}

.models-table-wrapper {

  font-size: $table-font-size;

  .md-table-header {
    color: $table-header-font-color;
  }

  .table-header {
    color: $table-header-font-color;
    font-size: $table-header-footer-font-size;

    .material-icons {
      font-size: 9px;
    }
  }

  .md-table-footer {
    font-size: $table-header-footer-font-size;
    color: $table-header-font-color;

    .pagination {
      margin: 0;
    }

    .material-icons {
      font-size: 16px;
    }
  }

  .form-group {
    margin: auto;
  }

  .selected-row {
    background-color: $table-bg-active;
  }
}
