<div class="row">
  <div class="col-md-12">
    <h4>{{title}}</h4>
  </div>
  <div class="col-md-8">
    {{models-table data=model columns=columns useNumericPagination=true currentPageNumber=8 showSummary=true showPageSize=true showTopPagination=true showComponentFooter=false}}
  </div>
  <div class="col-md-4">
    <p>Component usage:</p>
      <pre><code class="handlebars">&lbrace;&lbrace;models-table
        data=model
        columns=columns
        useNumericPagination=true
        currentPageNumber=8
        showTopPagination=true
        showComponentFooter=false&rbrace;&rbrace;</code></pre>
  </div>
</div>